@font-face {
    font-family: mainfont;
    src: url(../assets/fonts/GothamBook.otf);
}

* {
    font-family: mainFont;
    margin: 0;
    padding: 0;
}

.button {
    color: black;
    text-decoration: none;
    margin: 5px 5px;
    border-color: black;
    border: 3px solid;
    border-radius: .25em;
    padding: 5px 5px;
}

.button:hover {
    color: white;
    text-decoration: underline;
    background-color: black;
    transition: .15s ease-in-out;
    border-color: black;
}

.website-body-info1 {
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    background-image: url("../assets/images/Background1.png");
    background-repeat: no-repeat;
    padding: 384.3px;
    background-position: center;
}