@font-face {
    font-family: mainfont;
    src: url(../assets/fonts/GothamBook.otf);
}

* {
    font-family: mainFont;
    margin: 0;
    padding: 0;
}

.website-body-info1{
    padding: 30px 14% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    text-align: center;
}